.umschalter input {
    appearance: none;
    width: 100%;
    height: 100%;
    border: 1px solid #bbbbbb;
    margin: 0;
    border-radius: 0.5em/50%;
}

.umschalter {
    height: 1em;
    width: 1.8em;
    display: inline-block;
    position: relative;
}

.umschalter-knopf {
    background-color: #bbbbbb;
    width: 0.7em;
    height: 0.7em;
    box-shadow: 0 0 1px #333333;
    position: absolute;
    top: 0.15em;
    left: 0.15em;
    pointer-events: none;
    transition: transform 0.5s ease-in-out;
    border-radius: 50%;
}

.umschalter input:checked {
    background-color: hsl(216, 98%, 52%);
    border-color: hsl(216, 98%, 42%);
}

.umschalter input:checked + .umschalter-knopf {
    background-color: white;
    transform: translateX(0.8em);
}